@import '../../.cache/wal/colors-waybar.css';
@define-color ws #6889CE;
@define-color tt @color1;
@define-color clock @color3;
@define-color set @color4;
@define-color tb rgba(200,200,200,0.2);
@define-color tbh @color5;
@define-color text #FFFFFF;
* {
    font-family: "Hurmit Nerd Font";
    border: none;
    border-radius: 3px;
}

window#waybar {
    background-color: rgba(0,0,0,0.3);
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    margin: 4px 1px 4px 1px;
    padding: 0px 0px;
    border-radius: 5px;
    border: 0px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: @text;
    opacity: 0.9;
}

#workspaces button {
    margin: 0px 2px;
    padding: 0px 5px;
    color: @text;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @text;
    background: @ws;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
}

#workspaces button:hover {
    color: @text;
    background: @ws;
    opacity: 0.9;
    border: none;
    box-shadow: none;
}

#taskbar {
    background: @tb;
    margin: 4px 15px 4px 1px;
    padding: 0px;
}

#taskbar button {
    margin: 0px 1px;
    border-radius: 5px;
    padding: 0px 5px;
}

#taskbar button:hover {
    background: @ws;
    opacity: 1;
    border: none;
    box-shadow: none;
}

tooltip {
    border-radius: 5px;
    background-color: @ws;
    opacity: 0.8;
}

tooltip label {
    border-radius: 5px;
    background-color: @tt;
    opacity: 0.8;
    padding: 0px;
    margin: -5px 0px;
    font-size: 12px;
    color: @text;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 10px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {
    background-color: @ws;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 1px 10px 0px 10px;
    margin: 4px 1px;
    opacity: 0.9;
    border: none;
}

#cpu,#temperature,#disk,#memory {
    margin: 3px;
    padding: 2px;
    font-size: 16px;
    color: @text;
}

#pulseaudio {
    background-color: @ws;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 1px 10px 0px 10px;
    margin: 4px 1px 4px 0px;
    opacity: 0.9;
}

#network {
    background-color: @ws;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 1px 10px 0px 10px;
    margin: 4px 1px;
    opacity: 0.9;
}

#network.ethernet {
    background-color: @ws;
    color: @text;
}

#network.wifi {
    background-color: @ws;
    color: @text;
}

#bluetooth, #bluetooth.on, #bluetooth.connected, #bluetooth.off {
    background-color: @ws;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 1px 10px 0px 10px;
    margin: 4px 1px;
    opacity: 0.9;
}

#battery {
    background-color: @ws;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 1px 10px 0px 10px;
    margin: 4px 1px;
    opacity: 0.9;
}

#battery.charging, #battery.plugged {
    color: @text;
    background-color: @ws;
}

@keyframes blink {
    to {
        background-color: @ws;
        color: @text;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding: 0px 15px 0px 0px;
    color: @text;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-exit {
    margin: 0px 18px 0px 5px;
    padding: 0px;
    font-size: 20px;
    color: @text;
}

#custom-system {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: @text;
}

#custom-settings {
    margin-right: 0px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: @text;
}

#custom-updates {
    background-color: @ws;
    font-size: 16px;
    color: @text;
    border-radius: 5px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
}

#custom-updates.green {
    background-color: @ws;
}

#custom-updates.yellow {
    background-color: #ff9a3c;
    color: #FFFFFF;
}

#custom-updates.red {
    background-color: #dc2f2f;
    color: #FFFFFF;
}

#custom-arch {
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 1px;
    border-radius: 10px;
    min-width: 30px;
}


#mpris {
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 8px;
    background-color: transparent;
    color: @ws;
    transition: all 0.3s ease;
}

#mpris.playing {
    color: @ws;
    background-color: transparent;
}

#mpris.paused {
    color: @ws;
    background-color: transparent;
}
